html, body{ background: #000000 url(../images/bg-main.jpg) 50% 0% no-repeat;margin:0;padding:0;width:100%;height:100%;color:#101010;font-size:15px;font-family: 'robotolight';background-size:cover;min-height:800px;}
.empty{height:px;}
.wrapper{position:relative; min-height:100%;height:auto !important;height:100%;}
.inline{display:inline-block; vertical-align:top;}

.container{max-width: none !important;width: 970px;margin:0 auto;min-width:970px;padding:0 15px;}

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

a{color:#1d84c5;text-decoration:none;}
a:hover{text-decoration:none;}

a[href^=tel]{color:#ffffff}
img{border:none;}

h1, h2, h3, h4 {padding:0;line-height: normal;color:#006699;font-family: 'robotoregular';}
h1{font-size:29px;margin:0 0 5px 0;}
h2{font-size:22px;margin:0;}
h3{font-size:18px;margin:0;}

::selection { background: #1e80be; color:#ffffff; text-shadow: 1px 1px 0 #838383; }
::-moz-selection { background: #1e80be; color:#ffffff; text-shadow: 1px 1px 0 #838383; }
svg:not(:root) { overflow: hidden; } 
.chromeframe { margin: 0.2em 0; background: #1e80be; color: black; padding: 0.2em 0; }

#header{width:px;height:px;}
.top-header{padding-top:30px;}

/* LOGO */
.logo{width:332px;height:91px;float:left;}
.logo a{display:block;width:332px;height:91px;background-image:url(../images/logo.png);background-repeat:no-repeat;background-position:top center;}

.top-contacts{float:right;width:220px;font-size:21px;color:#fff;text-align:right;padding-top:5px;}
.mail a{margin-bottom:5px;color:#fff;}
.top-contacts span:first-child{margin-bottom:-5px;display:block;}

/* CONTENT */


.content-text{width:624px;text-align:left;color:#fff;font-size:24px;line-height:28px;position:absolute;top:200px;}
.content-text p{margin-bottom:33px;display:block;}

.button-play{position:absolute;width:67px;height:67px;bottom:35%;left:50%;margin-left:-34px;}
.button-play a{display:block;width:67px;height:67px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;border:2px solid #343434;background-image:url(../images/ico-play.png);background-position:55% 50%;background-repeat:no-repeat;}
.button-play.pause a{border:2px solid #616161;background-image:url(../images/ico-pause.png);background-position:50% 50% ; background-repeat:no-repeat;}
/* FOOTER */
#footer{text-align:center;width:100%;min-width:970px;color:#fff;position:absolute;bottom:40px;}
.footer-title h4{font-size:36px;color:#fff;text-transform:uppercase;margin-bottom:30px;margin-top:0px;}
.description{font-size:25px;margin-bottom:20px;}
.detailed-information{width:450px;margin:0 auto;font-size:21px;color:#7e7e7e;line-height:26px;}

.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: table;line-height: 0;content: "";}
.clearfix:after {clear: both;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
		   
.logo a{background-image:url(../images/logoX2.png);background-size: 332px 91px;}
.button-play a{background-image:url(../images/ico-playX2.png);background-size: 17px 21px;}


	   }